main{
    display: flex;
    justify-content: center;

}

div{
    margin: 0.3em;
    
}

label{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input{
    margin-left: 0.5em;
}

section{
    margin-top: 10%;
    background-color:bisque;
    border: 1px solid;
    border-color: bisque;
    border-radius: 5px;
}


html{
    background: url("login.jpg");
    background-size: cover;
}
